<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.pabgarci.multisensortool" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Accelerometer"
            android:label="@string/title_activity_accelerometer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gravity"
            android:label="@string/title_activity_gravity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Light"
            android:label="@string/title_activity_light"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GPS"
            android:label="@string/title_activity_gps"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Network"
            android:label="@string/title_activity_network"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Humidity"
            android:label="@string/title_activity_humidity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Pressure"
            android:label="@string/title_activity_pressure"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Proximity"
            android:label="@string/title_activity_proximity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Compass"
            android:label="@string/title_activity_compass"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MagneticField"
            android:label="@string/title_activity_magnetic_field"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LinearAcceleration"
            android:label="@string/title_activity_linear_acceleration"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Orientation"
            android:label="@string/title_activity_orientation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Storage"
            android:label="@string/title_activity_storage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".WiFi"
            android:label="@string/title_activity_wi_fi"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Temperature"
            android:label="@string/title_activity_temperature"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gyroscope"
            android:label="@string/title_activity_gyroscope"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".config.FilterConfigActivity"
            android:label="@string/title_activity_gyroscope"
            android:theme="@style/PrefsTheme" >
        </activity>
        <activity
            android:name=".config.NoiseConfigActivity"
            android:label="@string/title_activity_gyroscope"
            android:theme="@style/PrefsTheme" >
        </activity>
        <activity
            android:name=".AccelerometerLogger"
            android:label="@string/title_activity_accelerometer_logger"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AccelerometerVector"
            android:label="@string/title_activity_accelerometer_vector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
